<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "comp/head.twig" %}
        <meta name="description" content="यह दीपावली आपके जीवन में सभी प्रकार की प्रसन्नता, सफलता और संवृद्धि ले आए।  आप जीवन के हर क्षेत्र में उन्नति की ओर अग्रसर हों, स्वस्थ और संवृद्ध रहें। कोरोना भी आपके आगे नतमस्तक हो जाए"/>
		<meta property="og:title" content="Happy Deepawali From e-Tutorials"/>
		<meta property="og:description" content="यह दीपावली आपके जीवन में सभी प्रकार की प्रसन्नता, सफलता और संवृद्धि ले आए।  आप जीवन के हर क्षेत्र में उन्नति की ओर अग्रसर हों, स्वस्थ और संवृद्ध रहें। कोरोना भी आपके आगे नतमस्तक हो जाए"/>
		<meta property="og:url" content="https://www.etutorials.co.in/social"/>
		<meta property="og:site_name" content="e-Tutorials"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" itemprop="image" content="https://www.etutorials.co.in/img/greets/deepawali.png">
		<meta property="og:image:url" itemprop="image" content="https://www.etutorials.co.in/img/greets/deepawali.png">
		<meta property="og:image:type" content="image/png" />
		<meta property="fb:app_id" content="548760868498835"/>
		<link rel="canonical" href="https://www.etutorials.co.in/social"/>
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@eTutorials2">
		<meta name="twitter:creator" content="@optiwariindia">
		<meta name="twitter:title" content="Happy Deepawali From e-Tutorials">
		<meta name="twitter:description" content="यह दीपावली आपके जीवन में सभी प्रकार की प्रसन्नता, सफलता और संवृद्धि ले आए।  आप जीवन के हर क्षेत्र में उन्नति की ओर अग्रसर हों, स्वस्थ और संवृद्ध रहें। कोरोना भी आपके आगे नतमस्तक हो जाए">
		<meta name="twitter:image" content="https://www.etutorials.co.in/img/greets/deepawali.png">
	</head>

	<body>
		{% include "comp/preloader.twig" %}
		{% include "comp/header.twig" %}
		{% include "comp/slider.twig" %}

		{% include "comp/course.twig" %}
		{# {% include "comp/teachers.twig" %} #}

		{% include "comp/footer.twig" %}
		{% include "comp/scripts.twig" %}
	</body>

</html>
